server:
  address: 0.0.0.0
  port: ${FIELD-WISE-PORT:8088}
  servlet:
    context-path: /field-wise
spring:
  liquibase:
    enabled: false
  datasource:
#    url: jdbc:postgresql://localhost:5432/postgres
#    username: postgres
#    password: password
    url: jdbc:postgresql://40.90.168.50:5432/garage?currentSchema=field-wise
    username: nokin
    password: Anish!1983
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 1800000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update   # use update/create-drop only for demos
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  sql:
    init:
      mode: never

fieldwise:
  jwt:
    secret: ${FIELDWISE_JWT_SECRET:change-me-please-change-me-please}
    expiration-ms: ${FIELDWISE_JWT_EXPIRATION_MS:86400000}
